Name
Font Family: Work Sans
Font Style: Bold
Font Size: 64px
Line Height: 75px
Line Height: 100%
Letter Spacing: -2%
Name
.social-links .link {
  color: teal;}
  /* Два і більше селекторів розділяються комою */
.social-links .link:hover,
.social-links .link:focus {
  color: orange;
}
.social-links .link:active {
  color: red;
}
.social-links .link:visited {
  color: green;
}
.button li {
background-color: blue;
color: white;
}
/* Глобальный стиль*/
background-color: var(--primery-white-color);
    color: #434455;
    font-family: Roboto.......
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  /* Buttons*/
  [type] {
    color:white;
}
button[type="reset"] {
    color:green;
}
.selector,
.selector-secondary,
.selector[type="text"] {
  padding: 15px;
  margin-bottom: 15px;
  background-color: rgb(0 0 0 / .5);
  box-shadow: 0 1px 2px #ccc, inset 0 1px 0 #fff;
}