:root {
  --primary-text-color: #FFFFFF;
  --title-text-color: #434455;
  --accent-color: #E7E9FC;
  --hover-color: #4D5AE5;
  --click-color:#404BBF;
  --button-color:#9747FF;
  --cloud-color:#F4F4FD;
  --nav-color:#2E2F42;
  }
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v30-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/raleway-v28-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v28-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/raleway-v28-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/raleway-v28-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Разметка boxs */
html{
  box-sizing: border-box;
}
*,::before, *::after{
  box-sizing: inherit;
}
body{
  width: 1440px;
  height: 2593px;
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:  16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:var(--title-text-color);
  background-color :var(--primary-text-color);
  }
.wrapper{
  max-width: 1128px;
  margin: 0 auto;
}
.header{
  background-color:var(--primary-text-color);
}
.header-wrapper{
  width: 1440px;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  }/*justify-content: space-between;*/
/*--logo--*/
.header-logo .logo {
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin: 44px 0px 71px 24px;
  text-decoration: none;
  color:var(--nav-color);
}

span {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 0px 0px 44px 24px;
    text-decoration: none;
    color:var(--hover-color);
}

.header-logo .link {
  color:var(--nav-color) ;
}
.header-logo .link .web {
  color:var(--hover-color);
}
.header-logo.link:hover,
.header-logo.link:focus{
color:var(--hover-color);
}
.header-list{
  display: flex;
  flex-wrap: wrap;
}
.header-item {
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 600;
line-height: 1.5;
letter-spacing: 0.02em;
margin-right: 15px;
color:var(--nav-color);
text-decoration: none;
}
.header-item:hover,
.header-item:focus{ 
  color:var(--hover-color);
}
  .header-list .link-current{
    color:var(--hover-color);
}
.connection-list .connection-item {
  display: inline-block;
}
/*.header-list .header-item {
  display:inline-block;
   color:var(--nav-color);
 }*/
.header-item:last-child{
  margin-right: 0;
}
.header-item .link-current:hover,
.header-item .link-current:focus{ 
  color:var(--accent-color) ;
}
.header-item .link:hover,
.header-item .link:focus{ 
  color:var(--accent-color) ;
}
.connection-item  {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--title-text-color);
}
ul {
  list-style: none;
}
/* Заглавия */
.hero {
  background-color:var(--nav-color) ;
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color:var(--primary-text-color);
 }
 .hero .button {
  cursor: pointer;
  width: 170px;
  height: 51px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color:var(--primary-text-color);
  background-color:var(--hover-color);
  border-radius: 4px;
  }

/* Секции */
.section-title {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color:var(--nav-color);
}    

.policy-list .title {
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color:var(--nav-color);
}
.policy-list .title-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--title-text-color); 
}
.team-list .team-title {
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--nav-color);
}
.imajes h3 {
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color:var(--nav-color);
}
.imajes p {
  font-family: inherit;
  font-weight:400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--title-text-color);
}


.footer {
  background-color:var(--nav-color);
}
.footer .logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--cloud-color);
}
.footer-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--accent-color) ;
}

ul {
  list-style: none;
}

/* Основной цвет страницы: #FFFFFF */
/* Цвет кнопки Order Service: 4D5AE5 */
/* цвет футера,хедера:  2E2F42 */
/* Цвет card team cloud: F4F4FD */
/* Iris CTAs Focused Active states LinksPrimary Brand 
#4D5AE5 */
/* Navy blue: OverlaysShadowsHeadings Dark
#2E2F42*/
/* GREEN: Valid fields,Success messages,Success
#31D0AA */
/* SLATE:Body text,Text 
#434455 */
/* LIGHT SLATE: Helper text,Deemphasized text,Subtle Text
#8E8F99 */
/* cornflower:Accent color,Hairlines,Subtle backgrounds
Accent
#E7E9FC */
/* cornflower
Accent color
Hairlines
Subtle backgrounds
Accent
#E7E9FC */
/*CLOUD:Light mode backgrounds,Light mode Dialogs/alerts
Light 
#F4F4FD*/

/*.button
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;*/


.btn {
  width: 116px;
  height: 48px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--hover-color);
  background-color: #F4F4FD;
  border-radius: 4px;
  border: 1px solid #E7E9FC;
  padding: 12px  24px;
}
.btn.active {
  width: 69px;
  height: 48px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:#FFFFFF;
  background-color: #4D5AE5;
  border-radius: 4px;
  padding: 12px 24px;
}
.button .btn {
  cursor: pointer;
}
/*--Connection*/
.link {
  text-decoration: none;
  color: navy;
  opacity: 0.5;
}
.link:hover,
.link:focus {
  color:var(--hover-color)
}
.link.active {
  font-weight: 700;
}
.footer .logo {
  text-decoration: none;
}

font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 1.5;
letter-spacing: 0.02em;


